

.perentItem {

border: 1px solid red;
width: 500px;
height: 300px;
padding: 20px;
position: relative;


}

.subclass {

border: 1px solid black;
width:100px ;
padding: 20px;
position: absolute;
top: 60px;

}


.subclass:hover {

    transform: scale(0.8);
    transform: rotate(300deg);
     background-color: brown;
     transition: 5s;
}